
@font-face {
    font-family: 'iconfont';  /* project id 212845 */
    src: url('//at.alicdn.com/t/font_e37sbmmhtdbwqaor.eot');
    src: url('//at.alicdn.com/t/font_e37sbmmhtdbwqaor.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_e37sbmmhtdbwqaor.woff') format('woff'),
    url('//at.alicdn.com/t/font_e37sbmmhtdbwqaor.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_e37sbmmhtdbwqaor.svg#iconfont') format('svg');
}
.iconfont {
    font-family:"iconfont" !important;
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color:#8a8a8a;
    font-size:1.5rem;
    cursor: pointer;
}
.color{
	color:#19e304;
}
.title{
	text-align: center;
	line-height: 60px;
	color: #FFFFFF;
	font-size: 24px;
}
.middle{
	padding-bottom: 60px;
	margin-top: 15px;
}
.fireHydrant{
	width: 310px;
	height: 200px;
 	display: block;
 	margin: 0 auto;
}
.task{
	text-align: center;
	line-height: 200%;
}
.describe{
	padding-left: 10%;
	padding-top: 20px;
}
.content{
	padding-left: 20%;
	line-height: 200%;
}
.gas{
	display: flex;
	flex-direction: row;
	width: 80%;
	padding-left: 20%;
	padding-top: 10px;
	padding-bottom: 10px;
}
.gas p{
	flex: 1;
}
.middle .finish{
	display: block;
	margin: 0 auto;
	background-color: #5cb85c;
	color: #FFFFFF;
	margin-top: 50px;
	
}
.disabled{
	background:#e6e6e6;
}
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #363b3e;
    padding: 10px 5% 5px 5%;
}
footer a{display: block;}
footer p{font-size:14px;color:#d8dcdf;}
footer .task{float: left;text-align: center;}
footer .task img{width: 25px;height: 25px;}
footer .task p{padding-top:9px;}
footer .personal{float:right;text-align: center;}
footer .personal img{width: 25px;height: 25px;}
footer .personal p{padding-top:9px;}
footer .warn{position:absolute;top:-18%;left:43%;text-align:center;}
footer .warn img{width:45px;height: 45px;}
footer .warn p{padding-top:9px;}

.middle-bottom{
	margin-bottom: 130px;
}
